// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #43799D
$secondary = #394955
$accent    = #7D47A5


$positive  = #009281
$negative  = #B15A51
$info      = #ADE0FF
$warning   = #E89B26

@import '~quasar-variables-styl'
