// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #13546D
$secondary = #695D57
$accent    = #CD3126


$positive  = #278B26
$negative  = #C34F76
$info      = #4585A1
$warning   = #E89B26

@import '~quasar-variables-styl'


/*
Brown
#B6302B
Copy
Dark Khaki
#C49E76
Copy
Dark Slate Gray
#191D24
Copy
Slate Gray
#7D8B8B
Copy
Dim Gray
#695D57



Midnight Blue
#13546D
Copy
Brick Red
#CD3126
Copy
Dark Gray
#B9B6AD
Copy
Cadet Blue
#81A4B6
Copy
Steel Blue
#4585A1


Chocolate
#EB7E38
Copy
Light Sea Green
#14A6BE
Copy
Dark Sea Green
#C3CBC4
Copy
Midnight Blue
#0F5269
Copy
Dim Gray
#726758


  /*


